grafana:
  adminUser: "${grafana_admin}"
  adminPassword: "${grafana_admin_password}"

  initChownData:
    enabled: false
    
  service:
    type: NodePort
    nodePort: 31848

  persistence:
    enabled: true
    size: 2Gi

  sidecar:
    dashboards:
      enabled: false

    datasources:
      enabled: false

  extraConfigmapMounts:
    - name: grafana-dashboards
      mountPath: /etc/grafana/provisioning/dashboards/json
      configMap: grafana-observability-dashboards
      readOnly: true

    - name: grafana-dashboard-provider
      mountPath: /etc/grafana/provisioning/dashboards/dashboard.yaml
      subPath: dashboard.yaml
      configMap: grafana-observability-provisioning
      readOnly: true

    - name: grafana-datasources
      mountPath: /etc/grafana/provisioning/datasources/datasources.yaml
      subPath: datasources.yaml
      configMap: grafana-observability-provisioning
      readOnly: true